{% extends 'base.html' %}
{% block title %}
    Crafting Page
{% endblock %}

{% block content %}
<style>   
    .tooltip-wrap {
        position: relative;
      }
      .tooltip-wrap .tooltip-content {
        color: white;
        border-radius: 4px;
        padding: 8px 12px;
        width: 325px;
        text-align: left;
      }
      .tooltip-wrap:hover .tooltip-content {
        display: block;
      }
      h1 {
          text-align: center;
      }
</style>
  <div class="container">
    <div><h1 id="Backpacks">Backpacks</h1></div>
    <div class="row align-items-start">
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/mzWQfBy/green-backpack.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/PQhPCzh/green-backpackres.png" class="card-img-top" alt="..."> </div> </div>
      </div>
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/xJkft1J/Screenshot-1.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/ys9q6mr/Screenshot-2.png" class="card-img-top" alt="..."> </div> </div>
      </div>
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/ThNR0wP/purple-backpack.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/LQT7X91/purple-backpackres.png" class="card-img-top" alt="..."> </div> </div>
      </div>
    </div>
    <div><h1>Weapons</h1></div>
    <div class="row align-items-center">
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/9nJcCZ5/Karma.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/S6JkKTT/Karmares.png" class="card-img-top" alt="..."> </div> </div>
      </div>
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/VSbsdxF/komrad.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/mHbfGVm/komradres.png" class="card-img-top" alt="..."> </div> </div>
      </div>
      <div class="col">
        <div class="tooltip-wrap"> <img src="https://i.ibb.co/Z86CvzD/zeus.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/59dZ7Lw/zeusres.png" class="card-img-top" alt="..."> </div> </div>
      </div>
      <div class="container">
        <div><h1>Consumables</h1></div>
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/1mzRxwQ/Screenshot-1.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/mXk4rwh/Screenshot-2.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/xm5Lt72/Screenshot-3.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/khRdgKz/Screenshot-4.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/R9Cs582/Screenshot-5.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/qkzpdBG/Screenshot-6.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/HCBNjzc/Screenshot-7.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/qmVhyK0/Screenshot-8.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/98Kd90r/Screenshot-9.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/H7Hdh2x/Screenshot-10.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/wCzQPf5/Screenshot-11.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/8NMnk3j/Screenshot-12.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div><h1>Armor</h1></div>
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/D8fLsxq/Screenshot-1.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/q7Gw26N/Screenshot-2.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/W5Hxp0c/Screenshot-3.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/zH9Fknw/Screenshot-4.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/8KChbLS/Screenshot-9.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/xmQF4yJ/Screenshot-10.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/xs7BhGD/Screenshot-7.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/fd04S12/Screenshot-8.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/9t7vVSh/Screenshot-5.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/b38xh6f/Screenshot-6.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/Q6zLByD/Screenshot-11.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/5GC68cs/Screenshot-12.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/LYgkvhL/Screenshot-13.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/k1FTsCN/Screenshot-14.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/KxJwCrG/Screenshot-15.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/RBwPCJw/Screenshot-16.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/vkz0KBs/Screenshot-21.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/6FHLFKB/Screenshot-22.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/hgBwPdr/Screenshot-19.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/KjWy771/Screenshot-20.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/myZpVB8/Screenshot-17.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/CBryxDD/Screenshot-18.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/3C3n7R1/Screenshot-23.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/G9jHf6G/Screenshot-24.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/MC1cbws/Screenshot-25.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/FDbV1Qs/Screenshot-26.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/9Y4Dv8V/Screenshot-27.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/dBRgQvG/Screenshot-28.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/KxFPs9v/Screenshot-33.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/vzM32jc/Screenshot-34.png" class="card-img-top" alt="..."> </div> </div>
          </div>
        </div>
      </div>
      <div class="container m-1">
        <div class="row">
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/ZH8cHt9/Screenshot-29.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/8c3WMmN/Screenshot-30.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            <div class="tooltip-wrap"> <img src="https://i.ibb.co/dgCNtKZ/Screenshot-31.png" alt="Some Image" /> <div class="tooltip-content"> <img src="https://i.ibb.co/hmn87kM/Screenshot-32.png" class="card-img-top" alt="..."> </div> </div>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>





{% endblock %}