{% extends 'base.html' %}
{% block title %}
    Crescent Falls
    {% endblock %}

{% block content %}
<style>
    .container {
        width: 50%;
    }
    body {
        background-color: black;
        background-image: url('https://i.ibb.co/c1q1Rz8/1647967055-cb-2-1-en-de-1920p-new.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .image {
        width: 100%;
    }
    
</style>
<div class="container p-3">
<img class="image" src="https://i.ibb.co/TkTKwbq/Screenshot-36.png" alt="">
</div>
{% endblock %}




