{% extends 'base.html' %}
{% block title %}
    Crescent Falls
    {% endblock %}

{% block content %}
<style>
    .container {
        width: 50%;
    }
    body {
        background-color: black;
        background-image: url('https://www.datocms-assets.com/57394/1646331650-tcf_ws_home_02_gameoverview_slide_04.jpg?auto=format&w=1920');
        background-repeat: no-repeat;
        background-size: cover
    }

    .image {
        width: 100%;
    }
</style>
<div class="container p-3">
<img class="image" src="https://i.ibb.co/TkTKwbq/Screenshot-36.png" alt="">
</div>

{% endblock %}




