{% extends 'base.html' %} {% block title %} The Cycle {% endblock %} {% block
content %}

<!DOCTYPE html>
<html
  data-wf-domain="connors-five-star-site-dbf8fe.webflow.io"
  data-wf-page="6249fd990967e01cc0541a51"
>
  <head>
    <link
      href="{{ url_for('static',filename='styles/style.css') }}"
      rel="stylesheet"
      type="text/css"
    /> 
  </head>
  <body>
      <div class="hero-container w-container">
        <div class="div-block w-clearfix">
          <div
            data-w-id="e8c4e4c4-cea0-8f1e-cb08-86aed56ea0ae"
            style="
              -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              opacity: 0;
            "
            class="_60block"
          >
            <a href="/crafting" class="hero-tile w-inline-block"
              ><div class="tile-text">Crafting</div>
              <div class="tile"></div
            ></a>
          </div>
          <div
            data-w-id="1cb6be37-64c6-c643-588d-1c32f82daad6"
            style="
              -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              opacity: 0;
            "
            class="_40block"
          >
            <div class="hero-tile w-dyn-list">
              <div role="list" class="w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <a href="" class="tile-link w-inline-block"
                    ><div class="tile-text">Stash Upgrades</div></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            data-w-id="0bfbbced-82b7-9203-cafc-59fe76b2d597"
            style="
              -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              opacity: 0;
            "
            class="contact"
          >
            <div class="hero-tile">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a href="/bright" class="tile-link w-inline-block"
                      ><div class="tile-text">Bright Sands</div>
                      <div class="tile mytile"></div
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            data-w-id="e398461a-51dc-a791-a4b1-a385a6c06359"
            style="
              -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              opacity: 0;
            "
            class="contact"
          >
            <a
              href="crescent"
              data-ix="show-contact-overlay"
              class="hero-tile w-inline-block"
              ><div class="tile-text">Crescent falls</div>
              <div class="tile mytiles"></div
            ></a>
          </div>
          <a href="contact">
          <img
            src="https://media.istockphoto.com/photos/contact-us-shaped-neon-light-on-black-wall-picture-id1140384857?k=20&m=1140384857&s=170667a&w=0&h=9wpmdDj_xqKwPauRz2RnqswJ3LTn1_D_z4xUYwh6gy8="
            loading="lazy"
            width="267"
            alt=""
            class="contact"
          />
        </a>
        </div>
      </div>
    </div>
    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6249fd980967e0bd63541a0d"
      type="text/javascript"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ url_for('static',filename='styles/main.js') }}"
      type="text/javascript"
    ></script>
  </body>
</html>

{% endblock %} 