{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}
{% block content %}
<body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }}
            <div class="row justify-content-center">
            <div class="col-md- text-center mb-">
            <h2 class="heading-section"></h2>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
            <div class="login-wrap pb-3">
                <img src="https://www.datocms-assets.com/57394/1643111922-the-cycle-logo-final-bw-horizon2_white.png?auto=format&dpr=0.51&w=2767" height="80" alt="">
                <br>
                <br>
                <h3 class="mb-0 text-center">Register</h3>
                <div><br></div>
                <div class="form-group">
                    {{ form.username(class="form-control", placeholder="User Name") }}
                </div>
            <div class="form-group">
                {{ form.email(class="form-control", placeholder="Email Address") }}
            </div>
            <div class="form-group">
                {{ form.password1(class="form-control", placeholder="Password") }}
            </div>
            <div class="form-group">
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-block btn-secondary") }}
            </div>
            <div class="form-group d-md-flex">
        
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            
            <img class="mb-4" src="" alt="">

            <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
        


        </form>
    </div>
</body>
<style>
    body {
        background-image: url('https://www.datocms-assets.com/57394/1646331650-tcf_ws_home_02_gameoverview_slide_04.jpg?auto=format&w=1920');
        }
        .btn-secondary {
            border: black;
            background-color: #007bff;
        }

    </style>
{% endblock %}